Source: gxde-account-faces
Section: utils
Priority: optional
Maintainer: Debian Deepin Packaging Team <pkg-deepin-devel@lists.alioth.debian.org>
Uploaders:
 Hu Feng <hufeng@uniontech.com>,
 Clay Stan <claystan97@gmail.com>,
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/linuxdeepin/gxde-account-faces
Vcs-Git: https://salsa.debian.org/pkg-deepin-team/gxde-account-faces.git
Vcs-Browser: https://salsa.debian.org/pkg-deepin-team/gxde-account-faces

Package: gxde-account-faces
Architecture: all
Breaks: dde-account-faces
Replaces: dde-account-faces
Depends:
 accountsservice,
 ${misc:Depends},
Conflicts: deepin-system-settings-module-account
Description: provides account-faces of dde
 When users are ready to set their own account avatars,
 Deepin Account avatars provide many beautiful avatars for users to choose from.
 It is part of Deepin software and DDE (Deepin Desktop Environment).
